repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: detect-private-key
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.0.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: []
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.6.9
    hooks:
      - id: pip-compile
        args: [pyproject.toml, -o, requirements.txt]
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: python3 -m ruff check
        language: system
        types: [python]
      - id: ruff-format
        name: ruff-format
        entry: python3 -m ruff format
        language: system
        types: [python]
      - id: mypy
        name: mypy
        entry: python3 -m mypy --strict-equality
        language: system
        types: [python]
